{% load static %}
<script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
<script src="{% static 'plugins/bootstrap/js/popper.min.js' %}"></script>
<script src="{% static 'plugins/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'plugins/chart.js/Chart.bundle.min.js' %}"></script>
<script src="{% static 'plugins/moment/moment.js' %}"></script>
<script src="{% static 'js/apexcharts.js' %}"></script>
<script src="{% static 'plugins/jquery-sparkline/jquery.sparkline.min.js' %}"></script>
<script src="{% static 'plugins/raphael/raphael.min.js' %}"></script>
<script src="{% static 'plugins/perfect-scrollbar/perfect-scrollbar.min.js' %}"></script>
<script src="{% static 'plugins/perfect-scrollbar/p-scroll.js' %}"></script>
<script src="{% static 'js/eva-icons.min.js' %}"></script>
<script src="{% static 'plugins/sidebar/sidebar.js' %}"></script>
<script src="{% static 'plugins/sidebar/sidebar-custom.js' %}"></script>
<script src="{% static 'plugins/side-menu/sidemenu.js' %}"></script>
<script src="{% static 'js/sticky.js' %}"></script>
<script src="{% static 'js/index.js' %}"></script>
<script src="{% static 'js/circle-progress.min.js' %}"></script>
<script src="{% static 'plugins/datatable/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'plugins/datatable/js/dataTables.bootstrap5.js' %}"></script>
<script src="{% static 'plugins/datatable/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'plugins/datatable/responsive.bootstrap5.min.js' %}"></script>
<script src="{% static 'plugins/select2/js/select2.full.min.js' %}"></script>
<script src="{% static 'js/select2.js' %}"></script>
<script src="{% static 'js/themecolor.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>
<script src="{% static 'switcher/js/switcher.js' %}"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>