{% load static %}
<link rel="icon" href="{% static 'img/brand/favicon.png' %}" type="image/x-icon" />
<link href="{% static 'css/icons.css' %}" rel="stylesheet">
<link id="style" href="{% static 'plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" />
<link href="{% static 'css/style.css' %}" rel="stylesheet">
<link href="{% static 'css/style-dark.css' %}" rel="stylesheet">
<link href="{% static 'css/style-transparent.css' %}" rel="stylesheet">
<link href="{% static 'css/skin-modes.css' %}" rel="stylesheet" />
<link href="{% static 'switcher/css/switcher.css' %}" rel="stylesheet" />
<link href="{% static 'switcher/demo.css' %}" rel="stylesheet" />

<style type="text/css">
    a{
        cursor: pointer;
    }
    /* input,textarea{-webkit-touch-callout:default;-webkit-user-select:auto;-khtml-user-select:auto;-moz-user-select:text;-ms-user-select:text;user-select:text} *{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:-moz-none;-ms-user-select:none;user-select:none}
    body{display:none}  */
</style>



