{% load static %}
<div class="demo-screen-footer">
    <div class="container">
        <h1><img alt="" class="logo" src="demo/img/logo-white.png"></h1>
        <footer class="footer">
            <div class="container">
                <div class="row align-items-center flex-row-reverse">
                    <div class="col-md-12 col-sm-12 text-center text-white">
                        Copyright © 2023 <a href="#">SDMonitor</a>. Designed with <span
                            class="fa fa-heart text-danger"></span> by <a href="#"> SDCompany </a> All rights reserved.
                    </div>
                </div>
            </div>
        </footer>
        <!-- <a href="https://themeforest.net/item/nowa-bootstrap-admin-dashboard-html-template/35273899" class="btn ripple btn-secondary mx-1 mb-2" target="_blank">Buy
            Now <span></span></a>
        <a href="https://themeforest.net/user/spruko/portfolio" class="btn ripple btn-warning  mx-1 mb-2" target="_blank">Our
            Portfolio<span></span></a>
        <a href="https://spruko.com/licenses.html" class="btn ripple btn-info  mx-1 mb-2" target="_blank">
                Licenses<span></span></a> -->

    </div>
    <!-- container -->
</div>