<footer class="footer" role="contentinfo">
	<div class="container">
							<div class="footer-widgets row th-widget-area">
              	                    <div class="footer-area-1 col-md-4 col-sm-6">
                    <section class="widget text-2 widget_text"><div class="widget-inner"><h3 class="widget-title">About Us</h3>			<div class="textwidget"><p>SDMonitor is a powerful Online tool designed for Server Downtime and Uptime Monitoring, including all the important features you need to make your business successful.</p>
</div>
		</div></section>
				<section class="widget widget-th-payments">
			<div class="widget-inner">
									<h3 class="widget-title">Payments Accepted</h3>
								<div class="th-payments-widget">
					<a target=_blank href='https://paypal.com'><span class='th-payment-no-img'>PayPal</span></a><a target=_blank href='https://visa.com'><span class='th-payment-no-img'>Visa</span></a><a target=_blank href='https://mastercard.com'><span class='th-payment-no-img'>MasterCard</span></a>				</div>
			</div>
		</section>

		                    </div>
                                                    <div class="footer-area-2 col-md-4 col-sm-6">
                    
				<section class="widget widget-th-contact-info">
			<div class="widget-inner">
									<h3 class="widget-title">Contact Info</h3>
								<div class="th-contact-info-widget">
					<div class='icon-blocks'><div class="icon-block"><p><a target='_blank' href='https://demo.themovation.com/stratus/contact-3/'><i class='far fa-envelope-open'></i><span>contact@themovation.com</span></a></p></div><div class="icon-block"><p><a target='_blank' href='tel:800-222-4545'><i class='far fa-comment'></i><span>1-800-222-4545</span></a></p></div><div class="icon-block"><p><a  href='https://demo.themovation.com/stratus/contact-3/'><i class='far fa-map'></i><span>Location</span></a></p></div></div>				</div>
			</div>
		</section>

		
        		<section class="widget widget-social">
    		<div class="widget-inner">
        		                <h3 class="widget-title">Be Proactive</h3>
                        			<div class="soc-widget">
        			<a target=_blank  href='#0'><i class='fab fa-facebook-f'></i></a><a target=_blank  href='#0'><i class='fab fa-twitter'></i></a><a target=_blank  href='#'><i class='fab fa-instagram'></i></a>           			</div>
    			</div>
		</section>

		                    </div>
                                                     <div class="footer-area-3 col-md-4 col-sm-6">
                    
		<section class="widget recent-posts-8 widget_recent_entries"><div class="widget-inner">
		<h3 class="widget-title">Recent Posts</h3>
		<ul>
											<li>
					<a href="https://demo.themovation.com/stratus/blog/2021/03/01/banking-with-digital-currency/">Importance Of Performance Analytics</a>
											<span class="post-date">March 1, 2021</span>
									</li>
											<li>
					<a href="https://demo.themovation.com/stratus/blog/2021/02/18/can-i-mine-and-is-it-worth-it/">Can I Monitor My Server Is It Worth It?</a>
											<span class="post-date">February 18, 2021</span>
									</li>
											<li>
					<a href="https://demo.themovation.com/stratus/blog/2021/02/14/how-blockchain-is-redefining-trust/">How SDMonitor helps in Improving website performance</a>
											<span class="post-date">February 14, 2021</span>
									</li>
											<li>
					<a href="https://demo.themovation.com/stratus/blog/2021/02/10/effective-product-promo-videos/">Effective Product Promo Videos</a>
											<span class="post-date">February 10, 2021</span>
									</li>
					</ul>

		</div></section>                    </div>
                                 				</div>
			    </div>
    <div class="footer-btm-bar">        
        <div class="container">    
            <div class="footer-copyright row">
                <div class="col-xs-12">
                    <p><span class='footer_copy'><a href="https://1.envato.market/stratus">Stratus</a></span> - <span class='footer_credit'>Made with <i class="fa fa-heart-o"></i> by <a href="http://themovation.com">Themovation</a></span></p>
                </div>
            </div>
        </div>
    </div>
</footer>
