<!DOCTYPE html>
{% load static i18n %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %} - Server Monitor</title>
    {% include 'partials/_stylesheet.html' %}
</head>
<body class="demo-screen index1">
    {% block content %}{% endblock content %}
    {% include 'partials/_footer.html' %}
    <!-- Back to top -->
    <a href="#top" id="back-to-top"><span class="fe fe-chevrons-up"></span></a>
    {% include 'partials/_script.html' %}
</body>
</html>