{% load static %}
<script src="{% static 'plugins/jquery/js/jquery.js' %}"></script>
<script src="{% static 'plugins/popper.js/js/popper.js' %}"></script>
<script src="{% static 'plugins/bootstrap/js/bootstrap.js' %}"></script>

<!-- GALLERY JS -->
<script src="{% static 'plugins/simplelightbox/simplelightbox.js' %}"></script>
<script src="{% static 'plugins/simplelightbox/light-box.js' %}"></script>

<!--owlcarousel JS -->
<script src="{% static 'plugins/owl-carousel/owl.carousel.js' %}"></script>

<!-- counter -->
<script src="demo/lib/counters/waypoints.min.js"></script>
<script src="demo/lib/counters/counterup.min.js"></script>

<!-- tobli js -->
<script src="{% static 'plugins/tobli/tobii.min.js' %}"></script>

<!-- sticky JS -->
<script src="{% static 'sticky.js' %}"></script>