{% load static %}
<link id="style" href="{% static 'plugins/bootstrap/css/bootstrap.css' %}" rel="stylesheet" />

<!-- Vendor css -->
<link href="{% static 'plugins/font-awesome/css/font-awesome.css' %}" rel="stylesheet">
<link href="{% static 'plugins/iconfonts/plugin.css' %}" rel="stylesheet">
<link href="{% static 'plugins/feather/feather.css' %}" rel="stylesheet">
<link href="{% static 'plugins/font-awesome/css/font-awesome.css' %}" rel="stylesheet">

<!-- Owlcarousel CSS -->
<link href="{% static 'plugins/owl-carousel/owl.carousel.css' %}" rel="stylesheet">

<!-- Tobli CSS -->
<link href="{% static 'plugins/tobli/tobii.min.css' %}" rel="stylesheet">

<!-- GALLERY CSS -->
<link href="{% static 'plugins/simplelightbox/simplelightbox.css' %}" rel="stylesheet">
<link rel="shortcut icon" type="image/x-icon" href="{% static 'img/brand/favicon.png' %}" />

<!-- Demo CSS -->
<link rel="stylesheet" href="{% static 'css/demo.css' %}">