{% extends "_layout.html" %}

{% block content %}
				<section class="elementor-section elementor-top-section elementor-element elementor-element-5b064b5 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="5b064b5" data-element_type="section" id="pricing">
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-99be84b" data-id="99be84b" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<section class="elementor-section elementor-inner-section elementor-element elementor-element-92762a1 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="92762a1" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-f376680" data-id="f376680" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-b12acdb elementor-invisible elementor-widget elementor-widget-heading" data-id="b12acdb" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeInDown&quot;}" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h6 class="elementor-heading-title elementor-size-default">Smart pricing</h6>		</div>
				</div>
				<div class="elementor-element elementor-element-4d25061 elementor-invisible elementor-widget elementor-widget-heading" data-id="4d25061" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeInDown&quot;}" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">Security packages for everyone</h2>		</div>
				</div>
				<div class="elementor-element elementor-element-2b75b06 elementor-invisible elementor-widget elementor-widget-heading" data-id="2b75b06" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeInDown&quot;}" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h5 class="elementor-heading-title elementor-size-default">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vitae convallis ligula. Proin dapibus ex et odio congue mollis. Cras finibus porta ligula non ultrices. </h5>		</div>
				</div>
				<div class="elementor-element elementor-element-37c7fb8 elementor-widget elementor-widget-spacer" data-id="37c7fb8" data-element_type="widget" data-widget_type="spacer.default">
				<div class="elementor-widget-container">
					<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
				</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
				<section class="elementor-section elementor-inner-section elementor-element elementor-element-f790d7b elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="f790d7b" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-5172f22" data-id="5172f22" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-ad96d41 elementor-widget elementor-widget-heading" data-id="ad96d41" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h4 class="elementor-heading-title elementor-size-default">Basic Plan</h4>		</div>
				</div>
				<div class="elementor-element elementor-element-f191b41 elementor-widget elementor-widget-heading" data-id="f191b41" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">$0</h2>		</div>
				</div>
				<div class="elementor-element elementor-element-33997ad elementor-widget elementor-widget-heading" data-id="33997ad" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h6 class="elementor-heading-title elementor-size-default">per month</h6>		</div>
				</div>
				<div class="elementor-element elementor-element-6d11eb5 elementor-widget-divider--view-line elementor-widget elementor-widget-divider" data-id="6d11eb5" data-element_type="widget" data-widget_type="divider.default">
				<div class="elementor-widget-container">
					<div class="elementor-divider">
			<span class="elementor-divider-separator">
						</span>
		</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-790b444 elementor-align-center elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="790b444" data-element_type="widget" data-widget_type="icon-list.default">
				<div class="elementor-widget-container">
					<ul class="elementor-icon-list-items">
							<li class="elementor-icon-list-item">
										<span class="elementor-icon-list-text">Firewall</span>
									</li>
								<li class="elementor-icon-list-item">
										<span class="elementor-icon-list-text">Virus scanning</span>
									</li>
						</ul>
				</div>
				</div>
				<div class="elementor-element elementor-element-947eb30 elementor-align-center elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="947eb30" data-element_type="widget" data-widget_type="icon-list.default">
				<div class="elementor-widget-container">
					<ul class="elementor-icon-list-items">
							<li class="elementor-icon-list-item">
										<span class="elementor-icon-list-text">Instant Notifcation on Website Stats</span>
									</li>
								<li class="elementor-icon-list-item">
										<span class="elementor-icon-list-text">Track Multiple Websites</span>
									</li>
								<li class="elementor-icon-list-item">
										<span class="elementor-icon-list-text">Improved Website Performance</span>
									</li>
								<li class="elementor-icon-list-item">
										<span class="elementor-icon-list-text">Data Analytics</span>
									</li>
								<li class="elementor-icon-list-item">
										<span class="elementor-icon-list-text">Data Encryption</span>
									</li>
								<li class="elementor-icon-list-item">
										<span class="elementor-icon-list-text">Security dashboard</span>
									</li>
								<li class="elementor-icon-list-item">
										<span class="elementor-icon-list-text">Annual Performance audit</span>
									</li>
								<li class="elementor-icon-list-item">
										<span class="elementor-icon-list-text">24/7 live support</span>
									</li>
						</ul>

				</div>
				</div>
				<div class="elementor-element elementor-element-7e9d4f2 elementor-align-center elementor-invisible elementor-widget elementor-widget-button" data-id="7e9d4f2" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeIn&quot;}" data-widget_type="button.default">
				<div class="elementor-widget-container">
					<div class="elementor-button-wrapper">
			<a href="#0" class="elementor-button-link elementor-button elementor-size-sm" role="button">
						<span class="elementor-button-content-wrapper">
						<span class="elementor-button-text">Go Basic</span>
		</span>
					</a>
		</div>
				</div>
				</div>
						</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-e9fd6a0" data-id="e9fd6a0" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-ca1844b elementor-widget elementor-widget-heading" data-id="ca1844b" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h4 class="elementor-heading-title elementor-size-default">Premium Plan</h4>		</div>
				</div>
				<div class="elementor-element elementor-element-e3ae618 elementor-widget elementor-widget-heading" data-id="e3ae618" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">$39</h2>		</div>
				</div>
				<div class="elementor-element elementor-element-994d7f6 elementor-widget elementor-widget-heading" data-id="994d7f6" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h6 class="elementor-heading-title elementor-size-default">per month</h6>		</div>
				</div>
				<div class="elementor-element elementor-element-a1e971b elementor-widget-divider--view-line elementor-widget elementor-widget-divider" data-id="a1e971b" data-element_type="widget" data-widget_type="divider.default">
				<div class="elementor-widget-container">
					<div class="elementor-divider">
			<span class="elementor-divider-separator">
						</span>
		</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-dd9e6dc elementor-align-center elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="dd9e6dc" data-element_type="widget" data-widget_type="icon-list.default">
				<div class="elementor-widget-container">
					<ul class="elementor-icon-list-items">
							<li class="elementor-icon-list-item">
										<span class="elementor-icon-list-text">Instant Notifcation on Website Stats</span>
									</li>
								<li class="elementor-icon-list-item">
										<span class="elementor-icon-list-text">Track Multiple Websites</span>
									</li>
								<li class="elementor-icon-list-item">
										<span class="elementor-icon-list-text">Improved Website Performance</span>
									</li>
								<li class="elementor-icon-list-item">
										<span class="elementor-icon-list-text">Data Analytics</span>
									</li>
								<li class="elementor-icon-list-item">
										<span class="elementor-icon-list-text">Data Encryption</span>
									</li>
								<li class="elementor-icon-list-item">
										<span class="elementor-icon-list-text">Security dashboard</span>
									</li>
								<li class="elementor-icon-list-item">
										<span class="elementor-icon-list-text">Annual Performance audit</span>
									</li>
								<li class="elementor-icon-list-item">
										<span class="elementor-icon-list-text">24/7 live support</span>
									</li>
						</ul>
				</div>
				</div>
				<div class="elementor-element elementor-element-9b410b4 elementor-align-center elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="9b410b4" data-element_type="widget" data-widget_type="icon-list.default">
				<div class="elementor-widget-container">
					<ul class="elementor-icon-list-items">
							<li class="elementor-icon-list-item">
										<span class="elementor-icon-list-text">Security dashboard</span>
									</li>
								<li class="elementor-icon-list-item">
										<span class="elementor-icon-list-text">Annual security audit</span>
									</li>
								<li class="elementor-icon-list-item">
										<span class="elementor-icon-list-text">24/7 live support</span>
									</li>
						</ul>
				</div>
				</div>
				<div class="elementor-element elementor-element-8d67af9 elementor-align-center elementor-invisible elementor-widget elementor-widget-button" data-id="8d67af9" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeIn&quot;}" data-widget_type="button.default">
				<div class="elementor-widget-container">
					<div class="elementor-button-wrapper">
			<a href="#0" class="elementor-button-link elementor-button elementor-size-sm" role="button">
						<span class="elementor-button-content-wrapper">
						<span class="elementor-button-text">Go Premium</span>
		</span>
					</a>
		</div>
				</div>
				</div>
						</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-7952be5" data-id="7952be5" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-e05ff22 elementor-widget elementor-widget-heading" data-id="e05ff22" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h4 class="elementor-heading-title elementor-size-default">Pro Plan</h4>		</div>
				</div>
				<div class="elementor-element elementor-element-a570827 elementor-widget elementor-widget-heading" data-id="a570827" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">$79</h2>		</div>
				</div>
				<div class="elementor-element elementor-element-645f624 elementor-widget elementor-widget-heading" data-id="645f624" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h6 class="elementor-heading-title elementor-size-default">per month</h6>		</div>
				</div>
				<div class="elementor-element elementor-element-2e1133d elementor-widget-divider--view-line elementor-widget elementor-widget-divider" data-id="2e1133d" data-element_type="widget" data-widget_type="divider.default">
				<div class="elementor-widget-container">
					<div class="elementor-divider">
			<span class="elementor-divider-separator">
						</span>
		</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-c89f3d0 elementor-align-center elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="c89f3d0" data-element_type="widget" data-widget_type="icon-list.default">
				<div class="elementor-widget-container">
					<ul class="elementor-icon-list-items">
							<li class="elementor-icon-list-item">
										<span class="elementor-icon-list-text">Track Websites Downtimes</span>
									</li>
						</ul>
				</div>
				</div>
				<div class="elementor-element elementor-element-4089ba7 elementor-align-center elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="4089ba7" data-element_type="widget" data-widget_type="icon-list.default">
				<div class="elementor-widget-container">
					<ul class="elementor-icon-list-items">
							<li class="elementor-icon-list-item">
										<span class="elementor-icon-list-text">Instant Notifcation on Website Stats</span>
									</li>
								<li class="elementor-icon-list-item">
										<span class="elementor-icon-list-text">Track Multiple Websites</span>
									</li>
								<li class="elementor-icon-list-item">
										<span class="elementor-icon-list-text">Improved Website Performance</span>
									</li>
								<li class="elementor-icon-list-item">
										<span class="elementor-icon-list-text">Data Analytics</span>
									</li>
								<li class="elementor-icon-list-item">
										<span class="elementor-icon-list-text">Data Encryption</span>
									</li>
								<li class="elementor-icon-list-item">
										<span class="elementor-icon-list-text">Security dashboard</span>
									</li>
								<li class="elementor-icon-list-item">
										<span class="elementor-icon-list-text">Annual Performance audit</span>
									</li>
								<li class="elementor-icon-list-item">
										<span class="elementor-icon-list-text">24/7 live support</span>
									</li>
						</ul>
				</div>
				</div>
				<div class="elementor-element elementor-element-dbaccd3 elementor-align-center elementor-invisible elementor-widget elementor-widget-button" data-id="dbaccd3" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeIn&quot;}" data-widget_type="button.default">
				<div class="elementor-widget-container">
					<div class="elementor-button-wrapper">
			<a href="#0" class="elementor-button-link elementor-button elementor-size-sm" role="button">
						<span class="elementor-button-content-wrapper">
						<span class="elementor-button-text">Go Pro</span>
		</span>
					</a>
		</div>
				</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
{% endblock %}