{% extends "partials/_auth_layout.html" %}

{% load i18n static %}
{% load account socialaccount %}

{% block title %}{% trans "Reset Password" %}{% endblock %}

{% block body %}
<div class="page">
    <div class="page-single">
        <div class="container">
            <div class="row">
                <div
                    class="col-xl-5 col-lg-6 col-md-8 col-sm-8 col-xs-10 card-sigin-main mx-auto my-auto py-4 justify-content-center">
                    <div class="card-sigin">
                        <div class="main-card-signin d-md-flex">
                            <div class="wd-100p">
                                <div class="">
                                    <div class="main-signup-header">
                                        {% include "partials/_messages.html" %}
                                        <p class="mb-0 h6 fw-light">{% trans 'Your password is now changed.' %}<</p>
                                        <div class="main-signin-footer text-center mt-3">
                                            <p><a href="{% url 'account_login' %}" class="mb-3">Back to Login</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}